<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SaiKailash.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E851B07F1EE7243E00943F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E851B0951EE7243E00943F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E851B0A01EE7243F00943F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
